/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family:sans-serif, "Spartan";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}



.content h1{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px 25px;
    font-size: 30px;

}

.SlackUserName{
    text-align: right;
    align-items: center;
    font-size: 30px;
    padding: 10px 50px;
    
    
    
}

img {
    max-width: 100px;
    height: auto;
    
}


.profileImg {
    width: 100%;
    max-height: 800px;
    /* background-attachment: fixed; */
    aspect-ratio: 2/3;
    object-fit: cover;
}